@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    min-height:100vh;
}
h1{
    text-align:center;
}
#togglebox{
    background-color:lightcoral;
    color:white;
    border:none;
    border-radius:3px;
    padding:5px;
}
.xcontainer{
    text-align: center;
}
#xtextbox{
    width:50%;
    position: absolute;
    top:20%;
    left:25%;
    background-color: #333;
    padding:10px;
    border-radius:3px;
    transition: all 0.5s ease-in-out;
}
.showbox{
    transform: translate(0%,-800px);
}
#xtextbox select, textarea{
    width:100%;
    margin:5px 0 5px 0;
    border-radius:3px;
}
#xtextbox p {
    color:white;
    margin:0;
}
#toggletext{
    background-color:lightcoral;
    border:none;
    color:white;
    border-radius:2px;
    padding:5px 0 5px 0;
    width:100%;
    margin:5px 0 5px 0;
}
#xtextbox textarea{
    height:100px;
}
#close{
    float:right;
}

/* ************************************************************ */
.xoutput{
    display:flex;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
}
.individualBox{
    background-color:lightcoral;
    height:235px;
    margin:10px;
    border-radius:3px;
}
.individualBox p{
    color:white;
    margin:0;
}
.individualBox img{
    height:200px;
    width:300px;
    object-fit:cover;
    margin-bottom:5px;
    border-radius:3px 3px 0 0;
}